<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p style="text-align: center;"><a href="/images/1"><img src="/images/davinci" alt="davinci_code" width="200" height="200" align="center"/></a></p>
    <p style="text-align: center;"><a href="/images/2"><img src="/images/great" alt="The_Great_Gatsby" width="200" height="200" align="center"/></a></p>
    <p style="text-align: center;"><a href="images/3"><img src="/images/tale" alt="A_tale_of_2_cities" width="200" height="200" align="center"/></a></p>
    
</body>
</html>