<html>
    <header>
        </header>

        <p>
            <ul>
              <button><a href="../home">back to home page</a></button>
              <p style="text-align: center;"><img src="/images/davinci" alt="davinci_code" width="200" height="300" align="center" /></p>
            </ul>
          </p>
      

</html>